// Шрифты и цвета
$primary-color: #1890ff;
$secondary-color: #ff4d4f;
$font-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif;


// Цвета
$light-gray: #f8f8f8;
$dark-gray: #333;
$primary-red: #ff4b2b;
$hover-red: #ff3a1e;
$light-background: #f2f2f2;
$primary-button-color: #4caf50;